.carousel {
    margin-bottom: 4rem;
}

.carousel img {
    filter: brightness(50%);
}

.carousel-item {
    height: 40rem;

}

.carousel-caption {
    bottom: 3rem;
    z-index: 10;

}



.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
    justify-content: center;
}

.marketing h2 {
    font-weight: 400;
}

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}